<h1 class ="trip-nav"> 
    Welcome, {{username}}

    <header>
       <a href="/logout"><button>LOG OUT</button></a> 
    </header>
</h1>

<section class="is-flex is-flex-direction-column column-cust">
<h3 class="trips">Choose a Trip!</h3>
<ul class="trips">
  {{#each trips}}
    <li>
        <h3>name: {{this.title}}</h3>
        <h3>location: {{this.location}}</h3>
        <h3>date: {{this.date}}</h3>
        <h3>includes: {{this.includes}}</h3>
        <h3>price: {{this.price}}</h3>
        <button id={{this.id}} class="add-trip">GO!</button> 
    </li>
  {{/each}}
</ul>
</section>
 
 {{#if hasTrips}}
 <section class="is-flex is-flex-direction-column column-cust">
 <h3 class="trips">My Trip or Trips!</h3>
  <ul class="trips">
  {{#each myTrips}}
    <li id={{this.id}}>
        <h3>name: {{this.title}}</h3>
        <h3>location: {{this.location}}</h3>
        <h3>date: {{this.date}}</h3>
        <h3>includes: {{this.includes}}</h3>
        <h3>price: {{this.price}}</h3>
        <button>DELETE</button> 
    </li>
  {{/each}}
</ul>
{{else}}
<h3>no trips yet</h3>
</section>
{{/if}}

<script src="/js/trip.js"></script>