<h1> 

    Welcome, {{username}}

    <header>
       <a href="/logout"><button>LOG OUT</button></a> 
    </header>
</h1>

{{!-- loop over the array you get and parse it into HTML boxes
    each box should have a button such taht when I click it, I'm signed up for the trip

 --}}
<section class="is-flex is-flex-direction-column column-cust">
<ul class="trips">
  {{#each trips}}
    <li>
        <h3>name: {{this.title}}</h3>
        <h3>location: {{this.location}}</h3>
        <h3>date: {{this.date}}</h3>
        <h3>includes: {{this.includes}}</h3>
        <h3>price: {{this.price}}</h3>
        {{!-- figureo out button functionality --}}
        <button id={{this.id}} class="add-trip">go</button> 
    </li>
  {{/each}}
</ul>
</section>
 


 {{!-- Here, i can see my trips, maybe --}}
 {{#if hasTrips}}
 <h3>my trips</h3>
  <ul class="myTrips">
  {{#each myTrips}}
    <li id={{this.id}}>
        <h3>name: {{this.title}}</h3>
        <h3>location: {{this.location}}</h3>
        <h3>date: {{this.date}}</h3>
        <h3>includes: {{this.includes}}</h3>
        <h3>price: {{this.price}}</h3>
        {{!-- figureo out button functionality --}}
        <button>go</button> 
    </li>
  {{/each}}
</ul>
{{else}}
<h3>no trips yet</h3>
{{/if}}

<script src="/js/trip.js"></script>